* {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    font-size: 13px;
}

.big-container {
    display: flex;
    justify-content: space-evenly;
}

.history-container {
    border: 1px solid black;
}

.container {
    width: 40%;
    background-color: whitesmoke;
    box-shadow: 4px 8px 4px rgb(243, 225, 225);
}

.layar {
    color: white;
    background-color: #333333;
    height: 120px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bolder;
    font-size: 3em;
    text-align: right;
    margin-right: 10px;
}

.button-container {
    display: flex;
    flex-direction: column;
    max-width: 800px;
}

.flex-row {
    display: flex;
}

.button {
    border: none;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    flex-basis: 25%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    background-color: lightgray;
}

.button:active {
    background-color: gray;
}

.operator:hover {
    background-color: lightgray;
}

.operator:active {
    background-color: gray;
}

.operator {
    background-color: orange;
}

.double {
    flex-basis: 50%;
}

.lborder{
    border-left: 1px solid black;
}

table th {
    border: 1px solid black;
    padding: 20px 30px;
    background-color: orange;
    color: white;
}

table tr:hover {
    background-color: gray;
}

table tr td {
    margin: 0;
    padding: 10px;
    text-align: center;
}